/* google font style code */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;              /* 마진 초기화 */
    padding: 0;             /* 패딩 초기화 */
    box-sizing: border-box; /* 박스 사이징은 테두리까지 */
}

#container {
    margin: auto;
    width: 1200px;
}


/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/

header {
    width: 1200px;
    height: 100px;
    background: blue;
}

#logo {
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}
a {
    text-decoration: none;  /* 텍스트의 장식 제거  */
}
#logo h1 {
    font-family: "Anton", sans-serif;
    font-weight: 300;   /* 폰트 굵기 */
    font-size: 40px;    /* 폰트 사이즈 */
    color: #fff;      /* 폰트 색상 */
    text-shadow: 0 -1px 0 #222; /* 그림자 적용 */
}

nav {
    float: right;
    width: 900px;
    height: 100px;
    padding-top: 40px;
}
ul {
    list-style: none;   /* list 구분스타일 제거 */
}
#top > li {
    float: left;
    position: relative; /*부모 요소 relative*/
}
#top > li > a {
    display: block;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 #07c;
}
#top > li > a > span {
    font-size: 0.5em;
}
#top > li > a:hover {
    color: #000;
    text-shadow: 0 -1px 0 #07c;
}

#top > li > ul {
    display: none;
    position: absolute; /*서브메뉴 포지셔닝*/
    width: 160px;
    left: 20px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
}
#top > li > ul > li {
    padding: 10px 10px 10px 30px;
}
#top > li > ul > li > a {
    font-size: 14px;
    padding: 10px;
    color: #000;
}
#top > li:hover > ul {
    display: block;
    z-index: 10;
}
#top > li > ul > li > a:hover {
    color: #f00;
}


/********************************/
/*   이미지 슬라이드 쇼 영역    */
/********************************/

#imageShow {
    clear: both;    /* 플로팅 해체 */
    width: 100%;
    height: 300px;
    background-color: yellow;
}


/**************************************/
/*   콘텐츠 영역  - 탭 메뉴와 퀵 링크 */
/**************************************/

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 800px;
    height: 100%;
    background-color: pink;
}

#links {
    float: right;
    width: 400px;
    height: 100%;
    background-color: skyblue;
}


/******************/
/*   푸터 영역    */
/******************/

footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}


